.title {
    font-size: 1.375rem;
    line-height: 1.86;
    font-family: HelsinkiGrotesk, serif;
    font-weight: bold;
    margin: 0;
}

.wrapper {
    margin: 2rem;
}

.infoContainer {
    margin-left: 2rem;
    margin-top: 1rem;
}

.rowContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.textField {
    margin-right: 1rem;
    width: 305px;
}

.select {
    max-width: 305px;
}

.label {
    width: 228px;
    margin-right: 20px;
}

.labelTitle {
    font-weight: bold;
    font-size: 1.05rem;
    margin-bottom: 0.25rem;
    font-family: HelsinkiGrotesk, serif;
}

.labelValue {
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
}
